.footerContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Followers,
.likes,
.photos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: gray;
  font-weight: lighter;
}
